:root {
    --primary-color: #004e64;
    --secondary-color: #00a5cf;
    --accent1-color: #4fc1e9;
    --accent2-color: #f8f9fa;
    --heading-font: Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body font);
    color: var(--accent1-color);

}

header,
main,
footer {
    width: 840;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.site-header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 20px;
}

.site-header .navigation li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.hero {
    position: relative;
    margin-top: 40px;
}


.hero img {
    dispaly: block;
    width: 100%;
    height: auto;
}

hero h1 {
    position: absolute;
    top: 20px;
    width: 100px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60%;
    background-color: var (--secondary-color);
    padding: 16px;
    opacity: 0.85;
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.adventure-grid figure {
    text-align: center;
}

.adventure-grid img {
    width: 100%;
    height: auto;
}

.socialmedia a img {
    width: 40px;
    height: auto;
    display: block;
}

footer p {
    margin-bottom: 10px;
}